{
  "singleQuote": true,
  "noSemi": true,
  "semi": false,
  "trailingComma": "all",
  "printWidth": 120,
  "endOfLine": "auto",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^[./]"
  ]
}
