{
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "changelog.md"
            }
        ],
        [
            "@semantic-release/npm",
            {
                "tarballDir": "pack"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": "pack/*.tgz"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": ["changelog.md"]
            }
        ]
    ]
}
